<div class="content">
    <div class="top-content">
        <ul id="CCSL" class="dropDown" *ngIf="ccslSetList" (mouseenter)="setHeight(ccslSetList)"
            (mouseleave)="resetHeight(ccslSetList)">CCSL
            <li id="{{ccslSet.id}}" *ngFor="let ccslSet of ccslSetList" (click)="change(ccslSet.id)">{{ccslSet.id}}</li>
        </ul>
        <ul id="composedCCSL" class="dropDown">Composed
            CCSL
        </ul>
        <ul id="simplifiedCCSL" class="dropDown">SimplifiedCCSL
        </ul>
        <ul id="orchestratedCCSL" class="dropDown">OrchestrateCCSL
        </ul>
    </div>
    <div class="middle-content">
        <div class="ccsl-content">
            <!-- CCSL constraints of sequence diagram 1 ... -->
            <!-- Composed CCSL constraints -->
            <!-- CCSL constraints of scenario 1 -->
            <h3 id="ccslText">CCSL constraints:</h3>
            <div id="{{ccslset.id}}-P" *ngFor="let ccslset of ccslSetList" style="display: none;">
                <p *ngFor="let ccsl of ccslset.ccslList">{{ccsl}}</p>
            </div>
            <!-- <div id="{{composedCcslSet.id}}-P" *ngIf="composedCcslSet" style="display: none;">
                <p *ngFor="let ccsl of composedCcslSet.ccslList">{{ccsl}}</p>
            </div>
            <div id="{{ccslset.id}}-P" *ngFor="let ccslset of subCcslSetList" style="display: none;">
                <p *ngFor="let ccsl of ccslset.ccslList">{{ccsl}}</p>
            </div> -->
        </div>
        <!-- <button id="toGraphBtn">
            Transform to clock graph</button> -->
        <div class="cgs-content">
            <h3 id="cgsText">Clock graph:</h3>
            <!-- <ul id="CG" *ngIf="CGs">
                <li id="{{CG}}" *ngFor="let CG of CGs" (click)="changePng(CG)">{{CG}}</li>
            </ul> -->
            <!-- 添加 Clock graph 1 ... -->
            <div style="display: none;" *ngFor="let CG of CGs" id="{{CG}}-P">
                <img id="{{CG}}-Pag" (mousewheel)="resizeimg(CG,$event)">
            </div>
            <!-- <div style="display: none;" *ngFor="let CG of CCG" id="{{CG}}-P">
                <img id="{{CG}}-Pag" (mousewheel)="resizeimg(CG,$event)">
            </div>
            <div style="display: none;" *ngFor="let CG of SCGs" id="{{CG}}-P">
                <img id="{{CG}}-Pag" (mousewheel)="resizeimg(CG,$event)">
            </div> -->
        </div>
    </div>
    <div class="btnList">
        <ul>
            <!-- <li><button id="uploadBtn" (click)="uploadFile()">Upload xml file of scenario diagrams</button></li> -->
            <li><button id="uploadBtn" (click)="uploadFile()">Upload</button></li>
            <li><button id="transformBtn" (click)="sdToCCSL()">Transform to CCSL constraints</button></li>
            <li><button id="compositionBtn" (click)="CCSLComposition()">Compose</button></li>
            <li><button id="simplifyBtn" (click)="CCSLSimplify()">Simplify</button></li>
            <li><button id="orchestrateBtn" (click)="CCSLOrchestrate()">Orchestrate</button></li>
            <li><button id="visualizeBtn">Visualize</button></li>
            <!-- <li class="check">
                <button id="verificationBtn">Check</button>
                <ul>
                    <li (click)="SMTCheck()">SMT Ckeck</li>
                    <li (click)="clockGraphCheck()">Clock Graph Check</li>
                </ul>
            </li> -->
        </ul>
    </div>
    <div class="result">
        <h3>Result:</h3>
        <p>inconsistent</p>
        <!-- <div id="smtRes">
            <p *ngIf="smtRes" id="{{smtRes.name}}-P" class="consistent">
                {{smtRes.res}}
            </p>
        </div>
        <div id="clockRes">
            inconsistent
            <p id="finalRes" *ngIf="clockGraphResult">{{clockGraphResult}}</p>
            <p *ngFor="let clockres of inconsistentCGs" id="{{clockres}}-P" class="consistent">
                {{clockres}} is inconsistent
            </p>
        </div> -->
    </div>
</div>