<div class="content">
    <div class="top-content">
        <ul id="CCSL" class="dropDown" *ngIf="ccslSetList && ccslSetList.length > 0"
            (mouseenter)="setHeight(ccslSetList)" (mouseleave)="resetHeight(ccslSetList)">CCSL
            <li id="{{ccslSet.id}}" *ngFor="let ccslSet of ccslSetList" (click)="change(ccslSet.id)">{{ccslSet.id}}</li>
        </ul>
        <ul id="composedCCSL" class="dropDown" *ngIf="composedCcslSet && composedCcslSet.id != null"
            (click)="change(composedCcslSet.id)">Composed
            CCSL
        </ul>
        <ul id="simplifiedCCSL" class="dropDown" *ngIf="simplifiedCCSLSet && simplifiedCCSLSet.id != null"
            (click)="change(simplifiedCCSLSet.id)">SimplifiedCCSL
        </ul>
        <ul id="orchestratedCCSL" class="dropDown" *ngIf="orchestrateCCSLSet && orchestrateCCSLSet.id != null"
            (click)="change(orchestrateCCSLSet.id)">OrchestratedCCSL
        </ul>
    </div>
    <div class="middle-content">
        <div class="ccsl-content" id="ccsl-content">
            <!-- CCSL constraints of sequence diagram 1 ... -->
            <!-- Composed CCSL constraints -->
            <!-- CCSL constraints of scenario 1 -->
            <h3 id="ccslText">CCSL Constraints:</h3>
            <div id="{{ccslset.id}}-P" *ngFor="let ccslset of ccslSetList" style="display: none;">
                <p *ngFor="let ccsl of ccslset.ccslList">{{ccsl}}</p>
            </div>
            <div id="{{composedCcslSet.id}}-P" *ngIf="composedCcslSet && composedCcslSet.id != null"
                style="display: none;">
                <p *ngFor="let ccsl of composedCcslSet.ccslList">{{ccsl}}</p>
            </div>
            <div id="{{simplifiedCCSLSet.id}}-P" *ngIf="simplifiedCCSLSet && simplifiedCCSLSet.id != null"
                style="display: none;">
                <p *ngFor="let ccsl of simplifiedCCSLSet.ccslList">{{ccsl}}</p>
            </div>
            <div id="{{orchestrateCCSLSet.id}}-P" *ngIf="orchestrateCCSLSet && orchestrateCCSLSet.id != null"
                style="display: none;">
                <p *ngFor="let ccsl of orchestrateCCSLSet.ccslList">{{ccsl}}</p>
            </div>
        </div>
        <!-- <button id="toGraphBtn">
            Transform to clock graph</button> -->
        <div class="cgs-content" id="cgs-content">
            <h3 id="cgsText">Clock Graph:</h3>
            <!-- <ul id="CG" *ngIf="CGs">
                <li id="{{CG}}" *ngFor="let CG of CGs" (click)="changePng(CG)">{{CG}}</li>
            </ul> -->
            <!-- 添加 Clock graph 1 ... -->
            <div style="display: none;" *ngFor="let CG of CGs" id="{{CG}}-P">
                <img id="{{CG}}-Pag" (mousewheel)="resizeimg(CG,$event)">
            </div>
            <div style="display: none;" *ngIf="CCG" id="ComposedCG-P">
                <img id="ComposedCG-Pag" (mousewheel)="resizeimg(CCG,$event)">
            </div>
            <div style="display: none;" *ngIf="SCG" id="SimplifiedCG-P">
                <img id="SimplifiedCG-Pag" (mousewheel)="resizeimg(SCG,$event)">
            </div>
            <div style="display: none;" *ngIf="OCG" id="OrchestratedCG-P">
                <img id="OrchestratedCG-Pag" (mousewheel)="resizeimg(OCG,$event)">
            </div>
        </div>
        <section id="conference-timeline" style="display: none;">
            <div id="conference-center-line"></div>
            <div class="conference-timeline-content">
                <div class="timeline-start">Start</div>
                <div class="timeline-scenario left">Scenario 1</div>
                <div class="timeline-scenario right">Scenario 2</div>
                <!-- Article -->
                <div class="timeline-article">
                    <div class="content-left">
                        <p>OnTime
                        </p>
                    </div>
                    <!-- <div class="content-right">
                        <p>OnPulse1
                        </p>
                    </div> -->
                    <div class="meta-date">
                        <span class="date">1</span>
                        <!-- <span class="month">APR</span> -->
                    </div>
                </div>
                <!-- // Article -->
    
                <!-- Article -->
                <div class="timeline-article">
                    <div class="content-left">
                        <p>OnPulse2
                        </p>
                    </div>
                    <!-- <div class="content-right">
                        <p>On1.f 
                        </p>
                    </div> -->
                    <div class="meta-date">
                        <span class="date">2</span>
                        <!-- <span class="month">APR</span> -->
                    </div>
                </div>
                <!-- // Article -->
    
                <!-- Article -->
                <div class="timeline-article">
                    <div class="content-left">
                        <p>On2.s
                        </p>
                    </div>
                    <!-- <div class="content-right">
                        <p>OffPulse1
                        </p>
                    </div> -->
                    <div class="meta-date">
                        <span class="date">3</span>
                        <!-- <span class="month">APR</span> -->
                    </div>
                </div>
                <div class="timeline-article">
                    <div class="content-left">
                        <p>On2.f
                        </p>
                    </div>
                    <!-- <div class="content-right">
                        <p>OffPulse1
                        </p>
                    </div> -->
                    <div class="meta-date">
                        <span class="date">4</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <div class="content-left">
                        <p>OffTime
                        </p>
                    </div>
                    <div class="content-right">
                        <p>OnButton
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">5</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <div class="content-left">
                        <p style="color:#00b0bd;font-weight:700">OffPulse2
                        </p>
                    </div>
                    <div class="content-right">
                        <p style="color:#00b0bd;font-weight:700">OnPulse1
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">6</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <div class="content-left">
                        <p>Off2.s
                        </p>
                    </div>
                    <div class="content-right">
                        <p>On1.s
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">7</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <div class="content-left">
                        <p>Off2.f
                        </p>
                    </div>
                    <div class="content-right">
                        <p>On1.f
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">8</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <!-- <div class="content-left">
                        <p>OffTime
                        </p>
                    </div> -->
                    <div class="content-right">
                        <p>OffButton
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">9</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <!-- <div class="content-left">
                        <p>OffPulse2
                        </p>
                    </div> -->
                    <div class="content-right">
                        <p>OffPulse1
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">10</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <!-- <div class="content-left">
                        <p>Off2.s
                        </p>
                    </div> -->
                    <div class="content-right">
                        <p>Off1.s
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">11</span>
                    </div>
                </div>
                <div class="timeline-article">
                    <!-- <div class="content-left">
                        <p>Off2.f
                        </p>
                    </div> -->
                    <div class="content-right">
                        <p>Off1.f
                        </p>
                    </div>
                    <div class="meta-date">
                        <span class="date">12</span>
                    </div>
                </div>
                <div class="timeline-end">End</div>
            </div>
        </section>
    </div>
    <div class="btnList">
        <ul>
            <!-- <li><button id="uploadBtn" (click)="uploadFile()">Upload xml file of scenario diagrams</button></li> -->
            <li><button id="uploadBtn" (click)="uploadFile()">Upload</button></li>
            <li><button id="transformBtn" (click)="sdToCCSL()">Transform to CCSL constraints</button></li>
            <li><button id="compositionBtn" (click)="CCSLComposition()">Compose</button></li>
            <li><button id="simplifyBtn" (click)="CCSLSimplify()">Simplify</button></li>
            <li><button id="orchestrateBtn" (click)="CCSLOrchestrate()">Orchestrate</button></li>
            <li><button id="visualizeBtn" (click)="visualize()">Visualize</button></li>
            <!-- <li class="check">
                <button id="verificationBtn">Check</button>
                <ul>
                    <li (click)="SMTCheck()">SMT Ckeck</li>
                    <li (click)="clockGraphCheck()">Clock Graph Check</li>
                </ul>
            </li> -->
        </ul>
    </div>
    <div class="result">
        <h3>Result:</h3>
        <p>inconsistent</p>
        <!-- <div id="smtRes">
            <p *ngIf="smtRes" id="{{smtRes.name}}-P" class="consistent">
                {{smtRes.res}}
            </p>
        </div>
        <div id="clockRes">
            inconsistent
            <p id="finalRes" *ngIf="clockGraphResult">{{clockGraphResult}}</p>
            <p *ngFor="let clockres of inconsistentCGs" id="{{clockres}}-P" class="consistent">
                {{clockres}} is inconsistent
            </p>
        </div> -->
    </div>
    <!-- <div class="timeline">
        <ul id='timeline'>
            <li class='work'>
                <input class='radio' id='work5' name='works' type='radio' checked>
                <div class="relative">
                    <label for='work5'>OnButton</label>
                    <span class='date'>1</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        OnButton
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work4' name='works' type='radio'>
                <div class="relative">
                    <label for='work4'>OnPulse1</label>
                    <span class='date'>2</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        OnPulse1
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work3' name='works' type='radio'>
                <div class="relative">
                    <label for='work3'>On1.s</label>
                    <span class='date'>3</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        On1.s
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work2' name='works' type='radio'>
                <div class="relative">
                    <label for='work2'>On1.f</label>
                    <span class='date'>4</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        On1.f
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work1' name='works' type='radio'>
                <div class="relative">
                    <label for='work1'>OffButton</label>
                    <span class='date'>5</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        OffButton
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work6' name='works' type='radio'>
                <div class="relative">
                    <label for='work6'>OffPulse1</label>
                    <span class='date'>6</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        OffPulse1
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work7' name='works' type='radio'>
                <div class="relative">
                    <label for='work7'>Off1.s</label>
                    <span class='date'>7</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        Off1.s
                    </p>
                </div>
            </li>
            <li class='work'>
                <input class='radio' id='work8' name='works' type='radio'>
                <div class="relative">
                    <label for='work8'>On1.f</label>
                    <span class='date'>8</span>
                    <span class='circle'></span>
                </div>
                <div class='timeline-content'>
                    <p>
                        Off1.f
                    </p>
                </div>
            </li>
        </ul>
    </div> -->
    
</div>