<div>
    <img src="assets/icons/logo.png">
    <nav style="text-align:center">
        <ul>
            <li (click)="newFile()">New</li>
            <li (click)="openProject()">Open</li>
            <li>Upload
                <ul>
                    <li (click)="uploadOntology()">
                        Upload ontology
                      </li>
                    <li (click)="uploadFile()">
                      Upload scenario diagrams
                    </li>
                  </ul>
            </li>
            <li (click)="saveProject()">Save</li>
            <li (click)="help()">Help</li>
            <!-- 目前还无法正常跳转到登陆页面 -->
            <li><a href="http://47.52.116.116/#/login">Login</a></li>
            <!-- <li (click)="sdToCCSL()">Transform</li> -->
        </ul>
    </nav>
    <h3 class="user">{{userName}}</h3>
    <form>
        <input type="file" multiple accept="text/xml, application/xml" ng2FileSelect [uploader]="uploader" name="xmlFile"
            id="xmlFile" class="openfile" (change)="selectedFileOnChanged($event)" />
    </form>
    <form>
        <input type="file" ng2FileSelect [uploader]="uploader" name="owlFile" id="ontologyFile" class="openfile"
            (change)="selectedOWLOnChanged($event)" />
        <!-- <input type="file" id="xmlFile" #picked    class="openfile"  multiple webkitdirectory   (click)="message=''"  (change)="onPicked(picked)"> -->
    </form>
</div>
