<div class="content" id="content-smt">
  <div class="top-content">
    <ul id="composedCCSL-smt" class="dropDown" *ngIf="composedCcslSet && composedCcslSet.id != null"
        (click)="change(composedCcslSet.id)">合并后的 CCSL
    </ul>
    <ul id="inconsistentLocate-smt" class="dropDown" *ngIf="smtInconsistentLocateCCSLSet && smtInconsistentLocateCCSLSet.id != null"
        (click)="change(smtInconsistentLocateCCSLSet.id)">不一致性定位结果
    </ul>
  </div>
  <div class="middle-content">
    <div class="content-left" id="content-left-smt">
      <h3 id="text-smt">合并后的 CCSL 约束:</h3>
      <div id="{{composedCcslSet.id}}-P-smt" *ngIf="composedCcslSet && composedCcslSet.id != null"
           style="display: none;">
        <p *ngFor="let ccsl of composedCcslSet.ccslList">{{ccsl}}</p>
      </div>
      <div id="{{smtInconsistentLocateCCSLSet.id}}-P-smt" *ngIf="smtInconsistentLocateCCSLSet && smtInconsistentLocateCCSLSet.id != null"
           style="display: none;">
        <p *ngFor="let ccsl of smtInconsistentLocateCCSLSet.ccslList">{{ccsl}}</p>
      </div>
    </div>
    <div class="content-right" id="content-right-smt">
      <h3 id="cgsText-smt">验证结果：</h3>
      <div id="smtResName" class="tab" (click)="change('SmtRes')"></div>
      <br><br>
      <div id="smt-res-result" style="position:relative; font-size: medium"></div>
      <div id="smt-locate-result" style="position:relative; font-size: medium"></div>
    </div>
    <section id="conference-timeline" style="display: none;">
      <div id="conference-center-line"></div>
      <div class="conference-timeline-content" *ngIf="visualizedScenario && visualizedScenario.timeEvents.length > 0">
        <div class="timeline-start">Start</div>
        <div class="close" id="timeline-close" (click)="close('conference-timeline')">X</div>
        <div class="timeline-scenario left">Scenario 1</div>
        <div class="timeline-scenario right">Scenario 2</div>
        <!-- Article -->
        <div class="timeline-article" *ngFor="let timeEvent of visualizedScenario.timeEvents">
          <div class="content-left" *ngIf="timeEvent.events[0] != ''">
            <p>{{timeEvent.events[0]}}
            </p>
          </div>
          <div class="content-right" *ngIf="timeEvent.events[1] != ''">
            <p>{{timeEvent.events[1]}}
            </p>
          </div>
          <div class="meta-date">
            <span class="date">{{timeEvent.time}}</span>
          </div>
        </div>
        <div class="timeline-end">End</div>
      </div>
    </section>
  </div>
</div>

<div id="help-smt" style="display: none;">
  <h1>案例</h1>
  <div>
    <h2>LightController</h2>
    <p>
      <a (click)="downloadproject('Env/LightController')">下载案例</a>
      <br>
      <a (click)="play('LightController_Env')">演示视频</a>
    </p>

    <h2>TrafficController</h2>
    <p>
      <a (click)="downloadproject('Env/TrafficController')">下载案例</a>
      <br>
      <a (click)="play('TrafficController_Env')">演示视频</a>
    </p>
  </div>
</div>

<div id="play-smt" style="display: none;">
  <div class="close" id="play-close" (click)="close('play')">X</div>
  <video width="1120" height="540" controls="controls" id="video1-smt" preload="auto" src="?"></video>
</div>
