.home-button {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button button {
  background-color: #fff;
  border-color: #000;
  font-size: medium;
  height: 60px;
  margin: 0 10px 0 10px;
}

.home-button button:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 2px 0px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #eee;
  cursor: default;
}
