/*弹出层*/
#popLayer-smt {
  display: none;
  background-color: #B3B3B3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80); /* 只支持IE6、7、8、9 */
}
.projectTitle{
  margin: 5px;
}
.element-input{
  width: 80%;
  height: 80%;
  top: 10%;
  left: 5%;
  margin: auto;
}
.button1 {
  position: relative;
  left: 10%;
}
.button2 {
  position: relative;
  left: 20%;
}
.closeBox {
  position: relative;
  margin: 0;
  display: inline-flex;
  float: right;
  margin-right: 2px;
  right: 0;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  /* background-color: #F8F8F8; */
  border: none;
}
.closeBox:hover {
  background-color: #8d8d8d;
  /* opacity: 0.8; */
  font-weight: normal;
}
.closeBox:disabled {
  /* opacity: 0.5; */
  cursor: auto;
}
.description-label{
  margin-left: 15px;
}
.description{
  margin-left: 15px;
}
.OpenProject {
  display: none;
  margin: 20px;
  background-color: #FFFFFF;
  /* background-color: yellow; */
  z-index: 11;
  width: 350px;
  height: 400px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.OpenProject label {
  float: center;
  left: 40px;
}
.showPro {
  position: relative;
  width:100%;
  cursor: default;
  /* width: 250px; */
  height: 300px;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 3px;
}
.openBtn button{
  margin-left: 30px;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.selected {
  background-color: #CFD8DC;
  color: white;
}
